<%= render "shared/header" %>
<h1><%= @curriculum.name %></h1>

<% if user_signed_in? && current_user.admin? %>
  <div>
    <%= link_to 'new_content', new_curriculum_content_path(@curriculum) %>
    <%= link_to 'new_exam', new_curriculum_exam_path(@curriculum) %>
  </div>
<% end %>

<br>

<div>
  <% @contents.each do |content| %>
    <div><%= content.title %></div>
    <div><%= content.text %></div>
  <% end %>
</div>

<br>

<% if @exam != nil %>
<div>
  <%= link_to 'NEXT', new_curriculum_exam_response_path(@curriculum) %>
</div>
<% end %>
<%= render "shared/footer" %>