<%= render "shared/header" %>
<p>No more spaghetti codes.</p>

<div><%= link_to "new_menu", new_menu_path %></div>

<br>

<div class="menu_list">
  <% @menus.each do |menu| %>
    <%= link_to menu_path(menu) do %>
      <div><%= menu.name %></div>
      <div><%= menu.pasta_name %></div>
      <div><%= image_tag menu.image.variant(resize: '100x100') %></div>
    <% end %>
  <% end %>
</div>

<%= render "shared/footer" %>