<%= link_to "home", root_path %>
<h1><%= @menu.name %> <%= @menu.pasta_name %></h1>

<div><%= link_to "new_curriculum", new_curriculum_path %><div>

<br>

<div>
  <% @curriculums.each do |curriculum| %>
    <%= link_to curriculum_path(curriculum) do %>
      <div><%= curriculum.name %></div>
    <% end %>
  <% end %>
</div>

<br>

<div><%= link_to "delete_menu", menu_path(@menu), method: :delete %></div>