<h1>Menu#show = Curriculum#index</h1>
<%= link_to "home", root_path %>
<%= link_to "new", new_curriculum_path %>
<%= link_to "delete", menu_path(@menu), method: :delete %>

<% @curriculums.each do |curriculum| %>
  <%= link_to curriculum_path(curriculum) do %>
    <div><%= curriculum.name %></div>
  <% end %>
<% end %>