<%= render "shared/header" %>

<div class="main">
  <% if user_signed_in? && current_user.admin? %>
    <div class="new-link"><%= link_to "new_curriculum", new_curriculum_path %><div>
  <% end %>

  <div class="main-back-image">
    <div class="catch-copy">No more spaghetti codes.</div>

    <div class="curriculum-board">
      <div class="menu-name"><%= @menu.name %></div>
      <div class="menu-pasta-name"><%= @menu.pasta_name %></div>
      <div class="menu-pasta-image-top"><%= image_tag @menu.image.variant(resize: '80x80') %></div>
      <div class="curriculum-list">
        <% @curriculums.each do |curriculum| %>
          <%= link_to curriculum_path(curriculum) do %>
            <div class="curriculum-button">
              <div class="curriculum-name"><%= curriculum.name %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user.admin? %>
    <div class="new_link"><%= link_to "delete_menu", menu_path(@menu), method: :delete %></div>
  <% end %>
</div>

<%= render "shared/footer" %>
