<%= render "shared/header" %>

<div class="main">
  <% if user_signed_in? && current_user.admin? %>
    <ul class="new-link-list">
      <li class="new-link"><%= link_to "new_curriculum", new_curriculum_path %></li>
      <li class="new-link"><%= link_to "delete_menu", menu_path(@menu), method: :delete %></li>
    </ul>
  <% end %>

  <div class="back-image">
    <div class="catch-copy">No more spaghetti codes.</div>

    <div class="curriculum-board">
      <div class="menu-name"><%= @menu.name %></div>
      <div class="menu-pasta-name"><%= @menu.pasta_name %></div>
      <div class="menu-pasta-image-top"><%= image_tag @menu.image.variant(resize: '80x80') %></div>
      <div class="curriculum-list">
        <% @curriculums.each do |curriculum| %>
          <%= link_to curriculum_path(curriculum) do %>
            <div class="curriculum-button">
              <% if curriculum.exam_responses.find_by(user_id: current_user.id) != nil && curriculum.exam_responses.find_by(user_id: current_user.id).score != nil %>
                <% if curriculum.exam_responses.order(id: "DESC").find_by(user_id: current_user.id).score > 5 %>
                  <div class="curriculum-done-flag">完了</div>
                <% else %>
                  <div class="curriculum-read-flag">読了</div>
                <% end %>
              <% end %>
              <div class="curriculum-name"><%= curriculum.name %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
