<%= render "shared/header" %>
<%= link_to "home", root_path %>
<h1><%= @menu.name %> <%= @menu.pasta_name %></h1>

<div><%= link_to "new_curriculum", new_curriculum_path %><div>

<br>

<div>
  <% @curriculums.each do |curriculum| %>
    <% if curriculum.exam_responses == nil || curriculum.exam_responses.where(user_id: current_user.id, curriculum_id: curriculum.id).last == nil %>
      <div><%= link_to curriculum.name, curriculum_path(curriculum) %></div>
    <% elsif curriculum.exam_responses.where(user_id: current_user.id, curriculum_id: curriculum.id).last.score > 5 %>
      <div><%= link_to curriculum.name, curriculum_path(curriculum) %>Done</div>
    <% else %>
      <div><%= link_to curriculum.name, curriculum_path(curriculum) %>Again</div>
    <% end %>
  <% end %>
</div>

<br>

<div><%= link_to "delete_menu", menu_path(@menu), method: :delete %></div>
<%= render "shared/footer" %>