<%= render "shared/header" %>

<div class="main">
  <div class="main-back-image">
    <div class="catch-copy">No more spaghetti codes.</div>
    <div class="sign-in-up">
      <h2 class="h2-title">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'email-field' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'password-field' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: "remember-me" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <label class="submit-button">
          <div class="login-button-block">
            <div class="login-button">
              <div class="login-button-text">ログイン</div>
              <%= f.submit class: "hidden" %>
            </div>
          </div>
        </label>
      <% end %>
      <div class="shared-links"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
